name: build sealive backend1

on:
 push:
  branches:
   - '*'

jobs:
 builds:
  runs-on: ubuntu-latest
  
  steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
       fetch-depth: 0

    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: 'maven'

    - name: Set up Maven
      run: |
        export PATH=/usr/share/maven/bin:$PATH

    - name: Build project
      run: mvn verify

    - name: SonarQube Scan
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}  # Use the secret you added
        SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}  
      run: mvn -B verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -Dsonar.projectKey=sealive-backend1-sqube -Dsonar.projectName='sealive backend1 sqube'