name: Java CI

on:
 push:
  branches:
   - '*'

jobs:
 builds:
  runs-on: ubuntu-latest
  
  steps:
    - name: Checkout code
      uses: actions/checkout@v2
      
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
        cache: 'gradle'
    
    - name: Install Gradle
      uses: gradle/gradle-build-action@v2
      with:
        version: '6.8.3'

    - name: Build project
      run: ./gradlew build